{% extends 'base.html' %}

{% block title %} Unblocked Music {% endblock %}


{% block body %}

  <!-- music cards -->
  <section class="bg-coolGray-900 text-white">
    <div>
      <div class="container mx-auto flex flex-col items-center px-4 py-16 text-center md:py-32 md:px-10 lg:px-32 xl:max-w-3xl">
        <h1 class="text-4xl font-bold leading-none sm:text-5xl text-purple-400">Unblocked Music
        </h1>
        <br>
        <span class="text-gray-300 text-2xl ">For Students By Students</span>
        <p class="px-8 mt-8 mb-12 text-lg">Unblocked music for school if you have any music suggetions or want to get updates join our discord</p>
        <div class="flex flex-wrap justify-center">
          <a href="/songs">
            <button class="px-8 py-3 m-2 text-lg font-semibold rounded bg-purple-400 text-coolGray-900">Listen</button>
          </a>
      </div>
    </div>
  </div>
  </section>
</body>
</html>


{% endblock %}